.about-title{
    width: 100vw;
    padding: 48px 0;
    h2{
        text-align: center;
    }
}

.about-container{
    display: flex;
    flex-direction: row;
    .about-content{
        flex: 1;
        color: $white;
        padding: 0 4vw;
    }
    @media(min-width:350px) and (max-width:720px){
        flex-direction: column;
    }
}