.btn{
    display: flex;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    width: 124px;
    height: 48px;
    background-color: $contrast;
    align-items: center;
    justify-content: center;
    font-family: avenir;
    margin:20px 0;
    span{
        color: $white;
    }

    a{
        text-decoration: none;
    }

    #root{
        position: relative;
    }
}