*{
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6{
    color: $white;
}

body{
    background-color: $bg!important;
}

h1{
    font-family: valorant;
}

h2{
    font-family: avenir;
}

h6{
    font-family: avenir;
    font-size: 16px;
}

input,textarea{
    height: 24px;
    background-color: $input;
    border: 0;
    padding-left: 10px;
    ::placeholder{
        color: $white;  
    }
    :active{
        border: 0;
    }
}
input{
    height: auto;
    width: 270px;
    max-height: 24px;
    border-radius: 3px;
    background-color: #302c3f;
    font-family: avenir;
    font-size: 1rem;
    color:#cac2df;
    border:0;
    font-weight: 400;
    line-height: 1.5;
    padding: .75rem 1.25rem;
    @media(min-width:350px) and (max-width:720px){
        width:240px;
    }
}

textarea{
    height: auto;
    min-height: 80px;
    max-height: 350px;
    width: 600px;
    border-radius: 3px;
    background-color: #302c3f;
    padding: .75rem 1.25rem;
    font-family: avenir;
    font-size: 1rem;
    color:#cac2df;
    border:0;
    font-weight: 400;
    line-height: 1.5;
    resize: none;
    @media(min-width:350px) and (max-width:720px){
        width:300px;
    }
}

.full-input{
    width:600px;
}