@font-face{
    font-family: 'valorant';
    src: url("fonts/valorant.ttf") format("truetype");
}

@font-face{
    font-family: 'avenir';
    font-weight: normal;
    src: url("fonts/avenir.ttc");
}

$black: #000;
$bg: #0f1922;
$cyan: #009fe3;
$contrast: #ff4653;
$white: #fff;